
@font-face {
  font-family: 'Monosten';
  src: url('Monosten-A.eot?#iefix') format('embedded-opentype'),  url('Monosten-A.woff') format('woff'), url('Monosten-A.ttf')  format('truetype'), url('Monosten-A.svg#Monosten-A') format('svg');
  font-weight: normal;
  font-style: normal;
}
