<div id="preloader">
	<div class="bar-fill"></div>
</div>

<nav>
	<a href="/events" id='event-click' class='external'>Events</a><a href="/obra" class='obra-nav'>OBRA</a><a href="/" class='az'>A - Z</a>
</nav>

<div class="clear"></div>