<section id="obra">
	<div id="obra-navigation">
		<a href="/obra/about">About</a> / 
		<a href="/obra/publications">Publications</a> / 
		<a href="/obra/lectures">Lectures</a> <span class='hide-on-smartphone'>/ </span>
		<div class="show-on-smartphone"></div>
		<a href="/obra/awards">Awards</a> / 
		<a href="/obra/contact">Contact</a>
	</div>

	<div id="obra-content"></div>
	
</section> 